<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScsDispatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ETS_ATS_Virtual_Spediteur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ScsDispatcher.Properties.Settings>
            <setting name="GameFilesPathETS" serializeAs="String">
                <value />
            </setting>
            <setting name="GameFilesPathATS" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoDistanceLearning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultJobLength" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="IgnoreTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportSavegameToText" serializeAs="String">
                <value>False</value>
            </setting>
        </ScsDispatcher.Properties.Settings>
    </userSettings>
</configuration>